<script setup>
import Header from './Header.vue';
</script>
<template>
    <Header />
    <router-view></router-view>
</template>

<style>

*{
    margin:0px;
    padding:0px;
}

.container{
    display: flex;
    flex-direction: column;
    gap:10px;
}

</style>
